<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/mycss.css}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>

    <title>首页</title>
</head>

<body>
<form action="/search" method="POST">
    <div th:fragment="header">
        <ul class="layui-nav">
            <li class="layui-nav-item">
                <a th:href="@{/index.html}">首页</span></a>
            </li>
            <li class="layui-nav-item" th:if="${session.LoginUser} != null">
                <a th:href="@{/myGoods.html}">我发布的商品</a>
            </li>
            <li class="layui-nav-item" th:if="${session.LoginUser} != null">
                <a th:href="@{/myOrders.html}">我的订单</a>
            </li>
            <li class="layui-nav-item" th:if="${session.LoginUser} != null">
                <a th:href="@{/letter.html}">我的私信</a>
            </li>
            <li class="layui-nav-item" th:if="${session.LoginUser} != null">
                <a th:href="@{/shopCar.html}">购物车 <i class="layui-icon layui-icon-cart-simple"></i></a>
            </li>
            <div class="layui-input-inline">
                <input type="text" name="username" lay-verify="required" placeholder="想买什么" autocomplete="off"
                       class="layui-input">
            </div>
            <button type="submit" class="layui-btn layui-btn-normal">查找</button>


            <li class="layui-nav-item fr" th:if="${session.LoginUser} != null" style="float: right">
                <a href=""><img th:src="${session.LoginUser.headerImg}" class="layui-nav-img">[[${session.LoginUser.username}]]</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/setting.html}">修改信息</a></dd>
                    <dd><a th:href="@{/logout}">退了</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item fr" th:if="${session.LoginUser} == null"  style="float: right">
                <a th:href="@{/login.html}">登录</a>
            </li>
            <li class="layui-nav-item fr" th:if="${session.LoginUser} == null"  style="float: right">
                <a th:href="@{/register.html}">注册</a>
            </li>

        </ul>
    </div>
</form>
    <div class="w mycontainer">
        <ul>
            <li th:each="map:${goodsList}">
                <div class="preimg">
                    <a th:href="@{|/goods/details/${map.goods.goods_id}|}"> <img th:src='${map.goods.img}'></a>
                </div>
                <p class="details">
                    [[${map.goods.description}]]
                </p>
                <input type="hidden" name="" id="" value="${map.goods.goods_id}">
                <!--👆用来放商品id-->
                <p class="owner">由 [[${map.seller.username}]] 所发布</p>
                <div class="info">
                    <h4>[[${map.goods.goods_name}]]</h4>
                    <em>|</em>
                    <span>[[${map.goods.price}]]元</span>
                </div>
            </li>
        </ul>
    </div>

<nav class="mt-5" th:replace="details::pagination">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#">首页</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">下一页</a></li>
        <li class="page-item"><a class="page-link" href="#">末页</a></li>
    </ul>
</nav>





    <div class="footer"></div>






</body>





<script>
    layui.use(['element'], function () {

    });
</script>



</html>